RewriteEngine On

# Route /ist-nlp/ based on browser language preference.
RewriteCond %{REQUEST_URI} ^/ist-nlp/?$
RewriteCond %{HTTP:Accept-Language} "(^|,)\s*ja(?:[-_][A-Za-z]{2})?(?:;|,|$)" [NC]
RewriteRule ^/?$ /ist-nlp/ja/ [R=302,L]

# Fallback for all other language preferences.
RewriteCond %{REQUEST_URI} ^/ist-nlp/?$
RewriteRule ^/?$ /ist-nlp/en/ [R=302,L]
