.layout--top .embedding-hero {
  border-bottom: 1px solid $border-color;
}

.layout--top .home-intro {
  margin-top: 2rem;
}

@include breakpoint($large) {
  .layout--top .home-intro {
    margin-top: 1rem;
  }

  .layout--top .page__content {
    > h2,
    > h3 {
      margin-top: 1em;
    }
  }
}
